@media only screen  and (max-width : 959px) {	
	.hdrLogo { height: 135px; }
	.hdrAddr { font-size: 18px; margin: 3% 0 0 1%; }
	.hdrAddr__link-te.l { font-size: 18px; }
	.hdrAddr__link-tel span { font-size: 24px; }
	.hdrAddr__link-tel::after { width: 30px; height: 30px; top: -70%; left: 71%; }
	.hdrAccount { background-size: 185px; width: 225px; height: 120px;}
	.hdrAccount__link { font-size: 14px; top: 43%; }
	.hdrNav__menu-link { font-size: 18px; padding: 5px 20px 5px 20px; }
	.header__slider-text { font-size: 24px; line-height: 32px; }
	#header__slider_active { margin: -8.5% 80% 0 0; }
	#header__slider_active label { width: 8px; height: 8px; }
	.main__about-logo { width: 185px; height: 55px; background-size: 185px; }
	.main__about-logo span, .main__services-logo span { font-size: 18px; }
	.main__about p { font-size: 14px; }
	.main__menu { width: 94%; }
	.main__menu-li { font-size: 14px; }
	.main__services-logo { width: 185px; height: 55px; background-size: 185px; }
	.main__text { font-size: 14px; }
	.main__request { width: 60%; font-size: 14px; }	
	.footer__copyright { margin: 0.3% 0 0 16%;  font-size: 12px; }
	.footerNav { width: 23%; margin: 4% 0 0 -18%; line-height: 16px; }
	.footerNav__menu-link { font-size: 12px; }
	.footerNav__menu { margin: -4% 0 0 -1%; }
	.footer__soc { width: 54%; }
	.footer__vk-logo { width: 30px; height: 30px; background-size: contain; }
	.footer__vk-link { font-size: 14px; line-height: 16px; }
	.footer__sk { margin: 1% 0 0 13%; }
	.footer__sk-logo { width: 30px; height: 30px; background-size: contain; }
	.footer__sk-link { font-size: 14px; line-height: 16px; }

	.form__contact-btn { margin: 37% 0 0 57%; }
	.addr__map { margin: 0 0 0 19%; }
	.address__tel { margin: 0 0 2% 19%; }
}
@media only screen and (max-width : 767px) {	
	.hdr__container { flex-direction: column; }
	.hdrLogo { width: 150px; height: 110px; margin: 1% auto; }
	.hdrAddr { margin: 0 auto; font-size: 16px; line-height: 14px; text-align: center; }
	.hdrAddr__link-tel { font-size: 16px; line-height: 14px; }
	.hdrAddr__link-tel span { font-size: 24px; }
	.hdrAddr__link-tel::after { width: 30px; height: 30px; top: -70%; left: 85%; }
	.hdrAccount { background-size: 200px; width: 200px; height: 60px; margin: 3% auto 0 auto; }
	.hdrAccount__link { top: 37%; right: 12%; line-height: 16px; font-size: 14px; }
	.hdrNav { margin: 3% 0 0 0; }
	.hdrNav__menu { width: 100%; }
	.hdrNav__menu-link { font-size: 16px; }
	.header__slider-text { font-size: 16px; line-height: 24px; }
	#header__slider_active { margin: -9% 80% 0 0; }
	#header__slider_active label { width: 8px; height: 8px; }
	.main__about-logo { width: 200px; height: 60px; background-size: contain; }
	.main__about-logo span, .main__services-logo span { top: 31%; left: 37%; font-size: 16px; }
	.main__about p { font-size: 14px; }
	.main__menu { width: 93%; }
	.main__menu-li { font-size: 14px; }
	.main__services-logo { width: 200px; height: 60px; background-size: contain; }
	.main__text { font-size: 14px; }
	.main__request { width: 71%; }
	footer { align-items: stretch;}
	.footer__copyright { margin: 0px 0 0 100px; font-size: 10px; line-height: 16px; width: 27%; }
	.footerNav { margin: 3% 0 0 -18%; width: 25%; }
	.footerNav__menu-li { font-size: 14px; line-height: 10px; }
	.footerNav__menu-link { font-size: 10px; line-height: 14px; }
	.footer__vk-logo { width: 25px; height: 25px; background-size: contain; }
	.footer__vk-link { font-size: 14px; line-height: 16px; margin: 3% 0 0 3%; }
	.footer__sk-link { font-size: 14px; line-height: 16px; margin: 2% 2% 0 -9%; }
	.footer__sk-logo { width: 25px; height: 25px; background-size: contain; }

	.main__contact { flex-direction: column; }
	.contact { width: 100%; }
	.form__contact-btn { margin: 24% 0 0 66%; }
	.contact__map { width: 100%; margin: 3% 0 0 0; }
	.contact__map iframe { width: 100%; }
	.addr__map { margin: 0 0 0 11%; }
	.address__tel { margin: 0 0 0 11%; }
}
@media only screen and (max-width : 639px) {	
	.hdrNav__menu { flex-direction: column; }
	.hdrNav__menu-link { display: flex; justify-content: space-around; box-shadow: none; }
	#header__slider { display: none; }
	.main__request { width: 100%; }
	.main__menu { margin: 0; }
	.footer__copyright { margin: 0.5% 0 0 1%; width: 35%; }
	.footerNav { margin: 5.5% 0 0 -17%; width: 32%; }
	.footer__soc { width: 49%; }

	.form__contact-btn { margin: 31% 0 0 61%; }
	.addr__map { margin: 0 0 0 17%; }
	.address__tel { margin: 0 0 2% 17%; }
}
@media screen and (max-width: 479px) {
	.hdrAccount { background-size: 170px; }
	.hdrAccount__link { top: 38%; right: 10%; font-size: 12px; }
	.hdrNav__menu-link { font-size: 14px; }
	.main__about-logo { width: 170px; height: 50px; margin: 2% 0 2% 0; }
	.main__about-logo span, .main__services-logo span { font-size: 14px; }
	.main__services-logo { width: 170px; height: 50px; }
	.main__menu-li { list-style-image: none; }
	footer { background: none; background-color: #037E0C; flex-direction: column; justify-content: center; }
	.footer__copyright { width: 100%; font-size: 14px; line-height: 16px; margin: 2% auto 0 auto; padding: 0 ; text-align: center; }
	.footerNav { margin: 0 0 0 0; width: 100%; }
	.footerNav__menu { margin: 3% auto 3% auto; width: 57%; }
	.footerNav__menu-li { padding: 3px 0 3px 0; }
	.footerNav__menu-link { font-size: 14px; line-height: 16px; }
	.footer__soc { width: 100%; }
	.footer__vk { margin: 0 0 0 25%; }
	.footer__vk-logo { width: 35px; height: 35px; }
	.footer__sk { margin: 0% 0 2% 13%; }
	.footer__sk-link { margin: 3% 2% 0 27%; }
	.footer__sk-logo { width: 35px; height: 35px; }

	.form__contact input[type="text"], .form__contact textarea { margin: 0 0 0 10%; font-size: 14px; line-height: 16px; }
	.form__contact-btn { margin: 40% 0 0 59%; }
	.contact__map-bottom img { display: none; }
	.addr__map { margin: 0 0 0 15%; }
	.address__tel { margin: 0 0 2% 15%; }
}
/*@media screen and (max-width: 439px) {
	.form__contact-btn { margin: 32% 0 0 59.5%; }
}
@media screen and (max-width: 399px) {
	.form__contact-btn { margin: 35% 0 0 57.5%; }
}*/


@media screen and (max-width: 359px) {
	.footerNav__menu {  width: 63%; }
	.footer__vk-link { margin: 4% 0 0 3%; }

	.form__contact-btn { margin: 46% 0 0 53%; }
	
	
}